<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<form th:action="@{/register}" method="post">
    <label>ID: <input type="text" name="userId"/></label><br/>
    <label>Email: <input type="email" name="userEmail"/></label><br/>
    <label>Password: <input type="password" name="userPassword"/></label><br/>
    <button type="submit">회원가입</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
<div th:if="${error}">
    <p style="color:red;" th:text="${error}"></p>
</div>
<a th:href="@{/login}">로그인</a>
</body>
</html>
